body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
}
pre {
    font-size: 6px;
    line-height: 7px;
    margin: 0;
}
#capture-button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
#ascii-wrapper {
    text-align: center;
}
#title {
    font-size: 50px;
    margin-bottom: 10px;
}
#subtitle {
    font-size: 16px;
    margin-bottom: 20px;
}
.button-wrapper {
    padding-top: 20px;
}
        
